<mat-card class="menu-item p-0" [fxLayout]="(viewType == 'grid') ? 'column' : 'row'" [ngClass]="[viewType + '-item', 'column-'+column]">   
    <div fxFlex="100" [fxShrink]="(viewType == 'grid') ? '3' : '2'" class="thumbnail-section">
        <mat-chip-listbox *ngIf="menuItem.discount">
            <mat-chip-option color="warn" highlighted selectable="false">{{menuItem.discount}}% OFF</mat-chip-option>
        </mat-chip-listbox> 
        <div *ngIf="lazyLoad">
            <img  src ="assets/images/foods/appetizers/6/medium.jpg" class="w-100 d-block swiper-lazy">
            <div class="swiper-lazy-preloader"></div>  
        </div>  
        <img *ngIf="!lazyLoad" src ="assets/images/foods/appetizers/6/medium.jpg" class="w-100 d-block">  
    </div>  
    <div fxFlex="100" class="p-3"> 
        <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
            <mat-card-content class="mb-0 p-0">
                <h1 class="title"><a [routerLink]="['/menu', menuItem.id]">{{menuItem.itemName}}</a></h1>   
                <div class="mt-2"> 
                    <p>{{menuItem.description}}</p> 
                    <div *ngIf="viewType == 'list'" fxShow="false" fxShow.gt-sm="true">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis magnam illum, suscipit nostrum ea quidem. Architecto quisquam eligendi tempora, obcaecati delectus, odio natus suscipit vel est temporibus error officia esse!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis magnam illum, suscipit nostrum ea quidem. Architecto quisquam eligendi tempora, obcaecati delectus, odio natus suscipit vel est temporibus error officia esse!</p>
                    </div>  
                </div>  
            </mat-card-content>
            <div class="sticky-footer-helper" fxFlex="grow"></div>
            <div class="m-0 p-0">
                <div class="features">     
                    <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
                        <mat-icon color="primary" class="mat-icon-sm">local_offer</mat-icon>
                        <span class="px-1">Category:</span>
                        <span class="dots"></span>
                        <span class="fw-500">{{  menuItem.categoryName }}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
                        <mat-icon color="primary" class="mat-icon-sm">{{ (menuItem.availibilityCount > 0) ? 'check_circle' : 'unpublished'}}</mat-icon>
                        <span class="px-1">Availibility:</span>
                        <span class="dots"></span>
                        <span class="fw-500">{{ (menuItem.availibilityCount > 0) ? 'Available':'Unavailable'}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <span class="mat-icon mat-icon-sm primary-color">
                                <svg viewBox="0 0 24 24">
                                    <path d="M12,3C10.73,3 9.6,3.8 9.18,5H3V7H4.95L2,14C1.53,16 3,17 5.5,17C8,17 9.56,16 9,14L6.05,7H9.17C9.5,7.85 10.15,8.5 11,8.83V20H2V22H22V20H13V8.82C13.85,8.5 14.5,7.85 14.82,7H17.95L15,14C14.53,16 16,17 18.5,17C21,17 22.56,16 22,14L19.05,7H21V5H14.83C14.4,3.8 13.27,3 12,3M12,5A1,1 0 0,1 13,6A1,1 0 0,1 12,7A1,1 0 0,1 11,6A1,1 0 0,1 12,5M5.5,10.25L7,14H4L5.5,10.25M18.5,10.25L20,14H17L18.5,10.25Z" />
                                </svg>
                            </span> 
                            <span class="px-1">Weight:</span>
                        </span>   
                        <span class="dots"></span>
                        <span class="fw-500">{{ menuItem.weight }} g</span>
                    </p>
                </div> 

                <div fxLayout="row" fxLayoutAlign="space-between center" class="divider mt-1"> 

                    <h2 *ngIf="!menuItem.discount" class="primary-color"> 
                        {{100| currency : 'USD' : 'symbol' : '1.2-2'}}  
                    </h2> 
                    <h2 *ngIf="menuItem.discount">  
                        <span class="text-muted old-price">{{menuItem.price | currency : 'USD' : 'symbol' : '1.2-2'}}</span> 
                        <span class="primary-color mx-2">{{ (menuItem.price - (menuItem.price * (menuItem.discount / 100))) | currency : 'USD' : 'symbol' : '1.2-2'}}</span>
                    </h2> 


                    <div class="text-muted">  
                        <button mat-icon-button [disabled]="onCart()" (click)="addToCart()" matTooltip="Add To Cart">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>  
                    </div> 
                </div> 
            </div> 
        </div>   
    </div>  
</mat-card>